body{
    background-color: darkgreen;
}

.contenedor{
    width: 1024px;
    margin: auto;
}
nav{
    width: 1024px;
    height: 400px;
    background-color: aqua;
}
.banner{
    width: 1024px;
    height: 350px;
    background-color: greenyellow;
}
.menu{
    width: 1024px;
    height: 50px;
    background-color: red;
}
.principal{
    width: 800px;
    height: 350px;
    background-color: white;
}
.anuncios{
    width: 224px;
    height: 350px;
    background-color: gray;
    margin-left: 800px;
    margin-top: -350px;
}
.anuncio1{
    width: 224px;
    height: 175px;
    background-color: yellow;
}
.anuncio2{
    width: 224px;
    height: 175px;
    background-color: blue;
}
footer{
    width: 1024px;
    height: 50px;
    background-color: aquamarine;
}